/* Contenedor principal */
.books-container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 5vh;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    background: linear-gradient(45deg, #E5E7E9, #A6ACAF);
}

/* Contenedor de búsqueda */
.search-container {
    margin-bottom: 20px;
}

.search-container label {
    margin-right: 10px;
}

.search-container input {
    margin-right: 10px;
    padding: 5px;
}

/* Lista de libros */
.books-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Botón de expansión */
.expand-button {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
}

.expand-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.search-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Estilos para las etiquetas de búsqueda */
.search-container label {
    margin-right: 10px;
    font-weight: bold;
    
}

/* Estilos para los inputs de búsqueda */
.search-container input {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #f8f9fa;
}

/* Estilos para el botón de búsqueda */
.search-container button {
    padding: 8px 16px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #004080;
}

table {
    width: 100%;
    border-collapse: collapse;
    /* Colapsar los bordes de la tabla */
    background-color: #ffffff;
}

th {
    background-color: #343a40;
    /* Cambiar el color de fondo del encabezado de la tabla */
    color: #000000;
    /* Cambiar el color del texto del encabezado de la tabla */
    border-bottom: 1px solid #000000;
    /* Agregar una línea en la parte inferior */
}

td {
    text-align: left;
    /* Alinear el texto a la izquierda */
    color: #343a40;
    /* Color de texto */
    border-bottom: 1px solid #f8f9fa;
    /* Línea para separar las filas */
}

h2 {
    color: #343a40;
    /* Color del texto */
    font-size: 24px;
    /* Tamaño de la fuente */
    margin-bottom: 20px;
    /* Espacio inferior */
    border-bottom: 2px solid #343a40;
    /* Línea decorativa */
    padding-bottom: 5px;
    /* Espacio inferior interno */
    text-align: center;
    /* Centrar el texto horizontalmente */
}

/* Estilos para hacer la tabla responsiva */
.mat-table {
    width: 100%;
    overflow-x: auto;
    display: block;
}

.mat-header-cell,
.mat-cell {
    white-space: nowrap;
}

@media screen and (max-width: 600px) {

    .mat-header-cell,
    .mat-cell {
        padding: 8px;
    }
}

@media screen and (max-width: 400px) {
    .mat-header-cell, .mat-cell {
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
  
    .mat-header-cell {
      font-weight: bold;
    }
  }
  


