<app-header></app-header>
<section class="vh-100" id="contenedorLogin">
    <div class="container">
        <div class="row">
            <div class="col text-black" id="columna1">

                <div class="form-container">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <h3 class="form-title">Login</h3>

                        <div class="form-group">
                            <input type="email" id="email" class="form-control" formControlName="email" />
                            <label for="email" class="form-label">Usuario</label>
                            <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">
                                <small *ngIf="loginForm.controls['email'].errors['required']">El email es requerido.</small>
                                <small *ngIf="loginForm.controls['email'].errors['email']">El email no es válido.</small>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="password" id="password" class="form-control" formControlName="password" />
                            <label for="password" class="form-label">Contraseña</label>
                            <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
                                <small *ngIf="loginForm.controls['password'].errors['required']">La contraseña es requerida.</small>
                            </div>
                        </div>

                        <div class="form-actions">
                            <button type="submit" id="btn" [disabled]="loginForm.invalid">Ingresar</button>
                        </div>

                        <div class="forget-password">
                            <a id="tooltip" matTooltip="Recuperar Contraseña" matTooltipPosition="below" (click)="openDialog()">¿Olvidaste tu contraseña?</a>
                        </div>
                    </form>

                </div>

            </div>
            <div class="col image-container" id="columna2">
                <img src="../../../assets/login_img/tazaLibro.jpg" alt="login" class="login-image">
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>