/* Estilos para las tarjetas (cards) */
.contenedorEstadoLibros{
    margin-bottom: 20vh;
}
.contenedorEstadoLibros h3 {
    text-align: center;
    margin-bottom: 10vh;
    font-size: 1.8em;
    font-weight: bold;
    color: #333; /* Color de texto oscuro */
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 45%;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-color: #36C8F6;
    border-radius: 8px;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    border-bottom: 4px solid #36C8F6;
}
.card.visible {
    opacity: 1;
    transform: translateY(0);
}


.card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-content.reversa {
    flex-direction: row-reverse;
}
.imgDerecha {
    width: 40%;
    height: auto;
    border-radius: 8px;
    margin-left: 20px;
    transition: 1s;
}
.imgDerecha:hover {
    transform: scale(1.1);
    transition: 1s;
}
.imgIzquierda {
    width: 40%;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
    transition: 1s;
}
.imgIzquierda:hover {
    transform: scale(1.1);
    transition: 1s;
}

@media only screen and (min-width: 344px) and (max-width: 480px) {
    .card-container {
        flex-direction: column;
    }
    
    .card {
        width: 90%;
    }

    .card-derecha {
        align-self: flex-start;
    }

    .card-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .imgDerecha, .imgIzquierda {
        width: 100%;
        margin: 10px 0 0 0;
    }

    .card-content.reversa {
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {
    .card-container {
        flex-direction: column;
    }
    
    .card {
        width: 90%;
    }

    .card-derecha {
        align-self: flex-start;
    }

    .card-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .imgDerecha, .imgIzquierda {
        width: 100%;
        margin: 10px 0 0 0;
    }
    .card-content.reversa {
        flex-direction: column;
    }
}

@media only screen and (max-width: 1025px) {
    .card-container {
        flex-direction: column;
    }
    
    .card {
        width: 90%;
    }
    
    .card-derecha {
        align-self: flex-start;
    }

    .card-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .imgDerecha, .imgIzquierda {
        width: 100%;
        margin: 10px 0 0 0;
    }
    .card-content.reversa {
        flex-direction: column;
    }
}
