<div class="contenedorEstadoLibros">
    <h2>¿En qué estado debo entregar mis libros?</h2>

    <div class="card-container">
        <div class="card">
            <div class="card-content">
                <p><strong>Para donarlos, es importante que estén en buen estado de conservación en general.</strong>
                    <br>
                    <br>
                    Esto significa que la
                    cubierta
                    debe estar intacta, sin roturas ni desgastes significativos, libre de humedad y moho.
                </p>
                <img class="imgDerecha" src="../../../assets/estadolibro_img/libroUno.jpg" alt="libroEstadoUno" (click)="openImageModal('../../../assets/estadolibro_img/libroUno.jpg')">
            </div>
        </div>
        <hr>
        <div class="card">
            <div class="card-content reversa">
                <p>Las páginas internas
                    deben estar limpias, sin manchas, y el texto debe ser claramente legible.
                </p>
                <img class="imgIzquierda" src="../../../assets/estadolibro_img/libroDos.jpg" alt="libroEstadoDos" (click)="openImageModal('../../../assets/estadolibro_img/libroDos.jpg')">
            </div>
        </div>
        <hr>
        <div class="card">
            <div class="card-content">
                <p>Además, <strong>no deben</strong> tener dobleces,
                    subrayados ni anotaciones en las páginas.
                </p>
                <img class="imgDerecha" src="../../../assets/estadolibro_img/libroTres.jpg" alt="libroEstadoTres" (click)="openImageModal('../../../assets/estadolibro_img/libroTres.jpg')">
            </div>
        </div>
    </div>
</div>
