<div class="noticias">
    <div class="contenedorInicial">
        <h2>Nuestras Noticias eLokolector</h2>
    </div>
    
    <div class="galleria-item">
        <img src="../../../assets/noticias_img/donacionlibros.jpg" alt="donacion" (click)="openImageModal('../../../assets/noticias_img/donacionlibros.jpg')">
        <br>
        <p>Donación de libros en <strong>Colegio Cardenal Raúl Silva Henríquez</strong> que, posteriormente será entregado a DuocUC Viña del Mar.</p>
    </div>
    <div class="galleria-item">
        <img src="../../../assets/noticias_img/ninos.jpg" alt="ninos" (click)="openImageModal('../../../assets/noticias_img/ninos.jpg')">
        <br> 
        <p>Niños de <strong>Escuela España</strong> en Cerro Monjas, Valparaíso esperando recibir libros como material de estudio.</p>
    </div>
    <div class="galleria-item">
        <img src="../../../assets/noticias_img/adultomayor1.jpg" alt="adultoM1" (click)="openImageModal('../../../assets/noticias_img/adultomayor1.jpg')">
        <br>
        <p>Adulto mayor de <strong>Hogar de ancianos Hermanitas de los Pobres</strong>, psje Gomez Carreño Int 3 Viña del Mar. </p>
    </div>
    <div class="galleria-item">
        <img src="../../../assets/noticias_img/adultomayor2.jpg" alt="adultoM2" (click)="openImageModal('../../../assets/noticias_img/adultomayor2.jpg')">
        <br>
        <p>Fundación <strong>Leyendo en el Hospital</strong> entregando libros en Hospital Dr. Gustavo Fricke después de recogerlos en DuocUC Viña del Mar.</p>
    </div>
    <div class="galleria-item">
        <img src="../../../assets/noticias_img/adultomayor3.jpg" alt="adultoM3" (click)="openImageModal('../../../assets/noticias_img/adultomayor3.jpg')">
        <br>
        <p>Entrega de libros de fundación <strong>Leyendo en el Hospital</strong> en Hospital Dr. Gustavo Fricke.</p>
    </div>
</div>