<div class="contenedorContacto">
    <div class="contenedorTexto">
        <h3>Contacta con nosotros</h3>
        <p>Conoce nuestras redes de contacto a través de Email, Whatsapp e Instagram</p>
    </div>

    
        <div class="contenedorIconos">
        <a href="#">
            <img class="imgFooter" loading="lazy" src="../../../assets/footer_img/instagram.svg" alt="instagram">
        </a>
        
        <a href="#">
            <img class="imgFooter" loading="lazy" src="../../../assets/footer_img/whatsapp.svg" alt="whatsapp">
        </a>

        <a href="#">
            <img class="imgFooter" loading="lazy" src="../../../assets/footer_img/email.svg" alt="email">
        </a>
        </div>
    
</div>