.footer-content {
    background-color: #CD8D7A;
    padding: 20px 30%;
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 20px;
    align-items: center;
}

.footer-upper {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    grid-gap: 20px;
}

#title {
    font-family: "Merriweather", serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
}

#text {
    line-height: 180%;
}

.footer-below {
    background-color: #d7a394;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#contact {
    display: flex;
    align-items: center;
}

.imgFooter {
    height: 5vh;
    width: 5vh;
    margin-left: 10px;
}

.list {
    text-decoration: none;
    color: #000000;
}

.list:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    .footer-content {
        padding: 20px 10%;
    }
}
