<footer>
    <div class="footer-content">
        <div class="footer-upper">
            <div>
                <h1 id="title">eloKoLector</h1>
            </div>

            <div id="text">
                <ul>
                    <li><a (click)="mostrarNosotros()" class="list" href="javascript:void(0)">Sobre nosotros</a></li>
                    <li><a (click)="mostrarColaboradores()" class="list" href="javascript:void(0)">Colaboradores</a></li>
                    <li><a href="#" class="list">Preguntas frecuentes</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-below">
            <div id="copyright"><p>©2024 elokolector.cl. Todos los derechos reservados</p></div>

            <div id="contact">
                <a href="#">
                    <img class="imgFooter" loading="lazy" src="../../../assets/footer_img/instagram.svg" alt="instagram">
                </a>
                
                <a href="#">
                    <img class="imgFooter" loading="lazy" src="../../../assets/footer_img/whatsapp.svg" alt="whatsapp">
                </a>

                <a href="#">
                    <img class="imgFooter" loading="lazy" src="../../../assets/footer_img/email.svg" alt="email">
                </a>
            </div>
        </div>
    </div>
</footer>
