<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">


<div class="contenedorBody">
<div class="portada">
    <div id="textoContenedor">
        <p id="textoTitulo">¿Donde puedo donar mis libros?</p>
        <p id="textoSubtitulo">Te invitamos a donar un libro en nuestros puntos de donación asignados</p>
    </div>

    <img src="../../../assets/bodyImg/portada.jpg" alt="portada" id="imgportada">
</div>

<div class="contenedorPrincipal">
    <div class="buttonPrincipales">
        <button mat-button id="libros" (click)="mostrarBooksDonacion()">Libros</button>
        <button mat-button id="registrarInstitución" (click)="mostrarFormulario()">Registrar mi institución</button>
        <button mat-button id="puntoDonacion" (click)="mostrarPuntosDonacion()">Puntos de donación</button>
        <button mat-button id="contacto" (click)="mostrarContactoDonacion()">Contacto</button>
    </div>
</div>

<div>
    @if(mostrarFormularioRegistro){
    <app-formregistro></app-formregistro>
    }
    @if(mostrarPuntos){
    <app-puntodonacion></app-puntodonacion>
    }
    @if(mostrarBooks){
    <app-books></app-books>
    }
    @if(mostrarContacto){
    <app-contacto></app-contacto>
    }
</div>

<div class="contenedorEstadoLibros">
    <h3>¿En qué estado debo entregar mis libros?</h3>

    <div class="card-container">
        <div class="card card-izquierda">
            <div class="card-content">
                <p><strong>Para donarlos, es importante que estén en buen estado de conservación en general.</strong>
                    <br>
                    <br>
                    Esto significa que la
                    cubierta
                    debe estar intacta, sin roturas ni desgastes significativos, libre de humedad y moho.
                </p>
                <img class="imgDerecha" src="../../../assets/bodyImg/libroUno.jpg" alt="libroEstadoUno">
            </div>
        </div>

        <div class="card card-derecha">
            <div class="card-content reversa">
                <p>Las páginas internas
                    deben estar limpias, sin manchas, y el texto debe ser claramente legible.
                </p>
                <img class="imgIzquierda" src="../../../assets/bodyImg/libroDos.jpg" alt="libroEstadoDos">
            </div>
        </div>

        <div class="card card-izquierda">
            <div class="card-content">
                <p>Además, no deben tener dobleces,
                    subrayados ni anotaciones en las páginas.
                </p>
                <img class="imgDerecha" src="../../../assets/bodyImg/libroTres.jpg" alt="libroEstadoTres">
            </div>
        </div>
    </div>
</div>
</div>
