<div class="contenedorBody">
    <div class="imgFondo">
        <div class="portada">
            <div id="textoContenedor">
                <h1 id="textoTitulo">¿Donde puedo donar mis libros?</h1>
                <p id="textoSubtitulo">Te invitamos a donar un libro en nuestros puntos de donación asignados.</p>
            </div>

            <img src="../../../assets/body_img/portada.jpg" alt="portada" id="imgportada">
        </div>

        <div class="contenedorPrincipal">
            <div class="buttonPrincipales">
                <button mat-button id="libros" (click)="mostrarBooksDonacion()">Libros</button>
                <button mat-button id="registrarInstitución" (click)="mostrarFormulario()">Registrar mi
                    institución</button>
                <button mat-button id="puntoDonacion" (click)="mostrarPuntosDonacion()">Puntos de donación</button>
                <button mat-button id="contacto" (click)="mostrarContactoDonacion()">Contacto</button>
            </div>
        </div>
    </div>
    <div>
        @if(mostrarFormularioRegistro){
        <app-formregistro></app-formregistro>
        }
        @if(mostrarPuntos){
        <app-puntodonacion></app-puntodonacion>
        }
        @if(mostrarBooks){
        <app-books></app-books>
        }
        @if(mostrarContacto){
        <app-contacto></app-contacto>
        }
    </div>

    <div class="interlineadoUno"></div>
    <app-noticias></app-noticias>

    <div class="interlineadoDos"></div>
    <app-estadolibro></app-estadolibro>

</div>