/* Estilos generales */
.contenedorBody {
    margin: 0;
    padding-top: 30vh;
    font-family: Arial, sans-serif;
}

/* Estilos para la portada */
.portada {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
}

#textoContenedor {
    text-align: center;
    margin-right: 20px;
}

#textoTitulo {
    font-family: "Merriweather", serif;
    font-size: 3em;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 10px;
}

#textoSubtitulo {
    font-family: "Merriweather", serif;
    font-weight: 200;
    font-style: normal;
    margin-top: 5vh;
    margin-bottom: 20px;
}

#imgportada {
    max-width: 30%;
    border-radius: 50%;
}

/* Estilos para el contenedor principal */
.contenedorPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para los botones principales */
.buttonPrincipales {
    background-color: #ffffff;
    margin-top: 20px;
    padding: 10px;
    display: inline-flex; /* Usar inline-flex para ajustarse al contenido en el eje x */
    justify-content: center;
    border-radius: 10px;
    width: auto;
}

.buttonPrincipales button {
    margin: 0 5px; /* Espacio entre los botones */
    padding: 5px 10px;
    border: none;
    background-color: #17a2b8;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.buttonPrincipales button:hover{
    background-color: #36C8F6;
}


/* Media queries para hacer el diseño responsive */

/* Para dispositivos con una anchura máxima de 768px (tablets y dispositivos móviles) */
@media only screen and (max-width: 768px) {
    #textoTitulo {
        font-size: 2em; /* Reducir el tamaño del título */
    }

    #textoSubtitulo {
        font-size: 1em; /* Reducir el tamaño del subtitulo */
    }

    #imgportada {
        max-width: 50%; /* Reducir el tamaño de la imagen */
    }

    .buttonPrincipales button {
        margin: 0 5px; /* Reducir el espacio entre los botones */
    }
}

/* Para dispositivos con una anchura máxima de 480px (dispositivos móviles) */
@media only screen and (max-width: 480px) {
    #textoTitulo {
        font-size: 1.5em; /* Reducir aún más el tamaño del título */
    }

    #textoSubtitulo {
        font-size: 0.8em; /* Reducir aún más el tamaño del subtitulo */
    }

    #imgportada {
        max-width: 70%; /* Reducir aún más el tamaño de la imagen */
    }

    .buttonPrincipales {
        flex-direction: column; /* Colocar los botones en columna en dispositivos muy pequeños */
    }

    .buttonPrincipales button {
        margin: 5px 0; /* Añadir espacio entre los botones en dispositivos muy pequeños */
    }
}

