/* Contenedor Principal */
.contenedorAdmin {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 120vh;
  background-color: #fff;
  padding-top: 64px; /* Espacio para la toolbar fija */
}

.contenedorAdminCuerpo{
  background-image: url('../../../../assets/admin_img/fondoAdmin.jpg');
  background-size: cover;
  background-position: center;
  margin-top: 8vh;
  margin-bottom: 8vh;
  color: #000;
  padding: 50px 20px; /* Ajustar según sea necesario */
}

.contenedorLibros{
  margin-top: 5vh;
}

.contenedorAgregarEjemplar, .contenedorAgregarInstitucion {
  max-width: 800px; /* Ajustar según sea necesario */
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente para mejorar la legibilidad */
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
/* Toolbar Material Angular */
.mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10vh;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #17a2b8;
  }
  
  #tituloToolbar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 20px;
    
  }
  h2 {
    color: #343a40; /* Color del texto */
    font-size: 24px; /* Tamaño de la fuente */
    margin-bottom: 20px; /* Espacio inferior */
    border-bottom: 2px solid #343a40; /* Línea decorativa */
    padding-bottom: 5px; /* Espacio inferior interno */
    text-align: center; /* Centrar el texto horizontalmente */
}
  .spacer {
    flex: 1 1 auto;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-avatar {
    width: 40px;
    height: 40px;
    border-color: #ffff;
    border-style: solid;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-name {
    color: white;
    font-size: 16px;
  }
  

/* Contenedor de button */  

  .contenedorAgregarLibro, .contenedorAgregarEjemplar, .contenedorAgregarInstitucion {
    margin-top: 5vh; /* Espacio entre la toolbar y el botón */
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  #buttonAgregarLibro, #buttonAgregarEjemplar, #buttonAgregarInst{
    background-color: #17a2b8;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s;
    font-size: medium;
  }

  #buttonAgregarLibro:hover {
    transform: scale(1.1);
  }

  #buttonAgregarEjemplar:hover {
    transform: scale(1.1);
  }

  #buttonAgregarInst:hover {
    transform: scale(1.1);
  }