<div class="modalAddInst">
    <h2 mat-dialog-title>Recuperar Contraseña</h2>
    <form (ngSubmit)="onSubmit()" #instForm="ngForm" class="formContenido">

        <div class="form-group">
            <label for="email">Email que desea recuperar</label>
            <input type="email" id="email" name="email" [(ngModel)]="email" required>
        </div>
        <div class="mat-dialog-actions">
            <button mat-button id="btnCancelar" type="button" (click)="closeDialog()">Cancelar</button>
            <button mat-button id="btnAnnadir" type="submit" [disabled]="!instForm.form.valid">Añadir</button>
        </div>
    </form>
</div>