<div class="modalAddInst">
  <h2 mat-dialog-title>Registrar una Institución</h2>
  <form (ngSubmit)="onSubmit()" #instForm="ngForm" class="formContenido">

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" [(ngModel)]="nuevaInstitucion.email" required>
    </div>

    <div class="form-group">
      <label for="password">Contraseña</label>
      <input type="password" id="password" name="password" [(ngModel)]="nuevaInstitucion.password" required>
    </div>

    <div class="form-group">
      <label for="usuario">Nombre Institución</label>
      <input type="label" id="label" name="label" [(ngModel)]="nuevaInstitucion.nombre_usuario" required>
    </div>
    <div class="form-group">
      <label for="fono">Telefono Institución</label>
      <input type="label" id="fono" name="fono" [(ngModel)]="nuevaInstitucion.fono_usuario" required>
    </div>

    <div class="form-group">
      <label for="cel">Celular Institución</label>
      <input type="cel" id="cel" name="cel" [(ngModel)]="nuevaInstitucion.cel_usuario" required>
    </div>

    <div class="mat-dialog-actions">
      <button mat-button id="btnCancelar" type="button" (click)="closeDialog()">Cancelar</button>
      <button mat-button id="btnAnnadir" type="submit" [disabled]="!instForm.form.valid">Añadir</button>
    </div>

  </form>
</div>