/* Contenedor principal contenedorPrincipalPerfil */

.contenedorPrincipalPerfil {
    display: grid;
    margin-top: 30vh;
    margin-bottom: 20vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/* Primer Div contenedorImagenNombreButton */

.contenedorImagenNombreButton {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido horizontalmente */
}

.contenedorDatosInstitucion {
    grid-area: 1 / 2 / 2 / 3;
}

.ContenedorIcono {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Espacio entre el SVG y el texto */
    margin-bottom: 20px; /* Espacio adicional debajo del icono */
}

.ContenedorIcono h2 {
    margin: 0;
    text-align: center;
}

.contenedorBtns {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Añade un espacio entre los botones */
}

#btns {
    margin: 5px 0; /* Opcional: Espaciado adicional */
    color: white; /* Color del texto */
    background: #17a2b8; /* Color de fondo */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    border-width: 2px; /* Grosor del borde */
    border-style: solid; /* Estilo del borde */
    font-size: 16px; /* Tamaño del texto */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

#btns:hover {
    background-color: #36C8F6; /* Color de fondo al pasar el cursor */
    transform: scale(1.1);
}

/* Segundo Div contenedorDatosInstitucion */

.contenedorFormField {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Añade un espacio entre los botones */
    margin: 5px 0; /* Opcional: Espaciado adicional */
    color: white; /* Color del texto */
    background: #E0E0E0; /* Color de fondo */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    border-width: 2px; /* Grosor del borde */
    border-style: solid; /* Estilo del borde */
    font-size: 16px; /* Tamaño del texto */
    max-width: 400px; /* Ajuste el ancho máximo según sea necesario */
    margin: auto; /* Centra el formulario horizontalmente */
}

label {
    color: black;
}

#btnActualizar {
    margin: 5px 0; /* Opcional: Espaciado adicional */
    color: white; /* Color del texto */
    background: #17a2b8; /* Color de fondo */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    border-width: 2px; /* Grosor del borde */
    border-style: solid; /* Estilo del borde */
    font-size: 16px; /* Tamaño del texto */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

#btnActualizar:hover {
    background-color: #36C8F6; /* Color de fondo al pasar el cursor */
}

.error_message {
    color: red; /* Cambia 'red' por el color que desees */
    font-size: 0.9em; /* Ajusta el tamaño de la fuente si es necesario */
    margin-top: 5px; /* Añade algo de margen superior para separar del input */
}

.form_error_message {
    color: red; /* Cambia 'red' por el color que desees */
    font-size: 1em; /* Ajusta el tamaño de la fuente si es necesario */
    margin-top: 10px; /* Añade algo de margen superior para separar del formulario */
}

.form_success_message {
    color: green; /* Cambia 'green' por el color que desees */
    font-size: 1em; /* Ajusta el tamaño de la fuente si es necesario */
    margin-top: 10px; /* Añade algo de margen superior para separar del formulario */
}
