<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">
<header>
    <div class="header-grid">
        <div>
            <a href="">
                <img routerLink="/lobby" src="../../../assets/headerImg/logo.jpg" alt="logo" id="logo">
            </a>

        </div>

        <div id="textCenter">
            <h1 id="title">eloKoLector</h1>
            <p>
                <i id="subtitle">"Dona un libro, ilumina una mente"</i>
            </p>
        </div>

        <div>
            <!-- routerlink actua como href en este caso redirige a login -->
            <button routerLink="/login" mat-flat-button id="login">Ingresar</button>
        </div>

    </div>
</header>

<router-outlet></router-outlet>