/* Header fijo y con ancho completo */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Asegura que el header quede por encima de otros elementos */
}
.header-grid {
    border-radius: 0;
    color: black;
    padding: 20px;
    height: 10vh;
    background-color: #C3E2C2;
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* Ajustar columnas */
    grid-template-rows: auto; /* Cambiar a 'auto' para permitir que las filas se ajusten según el contenido */
    grid-column-gap: 0px;
    grid-row-gap: 10px; /* Añadir espacio entre filas */
    
}

#logo {
    
    width: 12vh;
    height: 12vh;
    border-radius: 50%;
    transition: box-shadow 0.3s ease; /* Añadir una transición suave */
}
#logo:hover {
    box-shadow: 0 0 10px 5px rgba(54, 200, 246, 0.8); /* Iluminar el borde con un color */
}
.textCenter {
    grid-column: 2 / 3; /* Centrar la imagen en la segunda columna */
    display: flex;
    justify-content: center;
    align-items: center;
}

#logotexto {
    width: 40vh; /* Asegurar que la imagen se ajuste a su contenedor */
    height: auto;
    opacity: 0.8; /* Hacer transparente la imagen */
}

.header-buttons {
    grid-column: 3 / 4; /* Ubicar los botones en la tercera columna */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

#btnIngresar {
    background-color: #36C8F6;
    color: #fff;
    transition: background-color 0.3s ease;
}

#btnIngresar:hover {
    background-color: #17a2b8;
}

#btnPerfil {
    background-color: #36C8F6;
    color: #fff;
    transition: background-color 0.3s ease;
}

#btnPerfil:hover {
    background-color: #17a2b8;
}

@media only screen and (min-width: 344px) and (max-width: 480px) {
    .header-grid {
        grid-template-columns: 1fr 2fr 1fr; /* Tres columnas, manteniendo la alineación */
        grid-template-rows: auto; /* Una sola fila */
        padding: 5px; /* Reducir el padding */
        height: auto; /* Ajustar la altura automáticamente */
        background-color: #C3E2C2;
    }

    #logo {
        width: 8vh;
        height: 8vh;
        margin: 0; /* Centrar el logo */
    }

    .textCenter {
        grid-column: 2 / 3; /* Centrar la imagen en la segunda columna */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #logotexto {
        display: none;
    }

    .header-buttons {
        grid-column: 3 / 4; /* Ubicar los botones en la tercera columna */
        display: flex;
        justify-content: flex-end; /* Mantener alineación a la derecha */
        align-items: center;
    }

    #btnIngresar, #btnPerfil {
        font-size: 0.8em; /* Reducir el tamaño de la fuente */
        padding: 5px 10px; /* Reducir el padding */
    }
}

@media only screen and (max-width: 768px) {
    .header-grid {
        grid-template-columns: 1fr 2fr 1fr; /* Tres columnas, manteniendo la alineación */
        grid-template-rows: auto; /* Una sola fila */
        padding: 10px; /* Reducir el padding */
        height: auto; /* Ajustar la altura automáticamente */
    }

    #logo {
        width: 10vh;
        height: 10vh;
    }

    .textCenter {
        grid-column: 2 / 3; /* Centrar la imagen en la segunda columna */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #logotexto {
        width: 35vh; /* Ajustar el tamaño de la imagen */
        height: auto;
    }

    .header-buttons {
        grid-column: 3 / 4; /* Ubicar los botones en la tercera columna */
        display: flex;
        justify-content: flex-end; /* Mantener alineación a la derecha */
        align-items: center;
    }

    #btnIngresar, #btnPerfil {
        font-size: 0.8em; /* Reducir el tamaño de la fuente */
        padding: 5px 10px; /* Reducir el padding */
    }
}

@media only screen and (max-width: 1025px) {
    .header-grid {
        grid-template-columns: 1fr 2fr 1fr; /* Tres columnas, manteniendo la alineación */
        grid-template-rows: auto; /* Una sola fila */
        padding: 15px; /* Reducir el padding */
        height: auto; /* Ajustar la altura automáticamente */
    }

    #logo {
        width: 12vh;
        height: 12vh;
    }

    .textCenter {
        grid-column: 2 / 3; /* Centrar la imagen en la segunda columna */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #logotexto {
        width: 40vh; /* Ajustar el tamaño de la imagen */
        height: auto;
    }

    .header-buttons {
        grid-column: 3 / 4; /* Ubicar los botones en la tercera columna */
        display: flex;
        justify-content: flex-end; /* Mantener alineación a la derecha */
        align-items: center;
    }

    #btnIngresar, #btnPerfil {
        font-size: 0.9em; /* Reducir el tamaño de la fuente */
        padding: 5px 10px; /* Reducir el padding */
    }
}