<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">
<header>
    <div class="header-grid">
        <div>
            <a href="">
                <img routerLink="/lobby" src="../../../assets/header_img/logo.jpg" alt="logo" id="logo">
            </a>

        </div>

        <div class="textCenter">
            <img src="../../../assets/header_img/logoElokolector.png" alt="logoTexto" id="logotexto">
        </div>

        <div class="header-buttons">
            <!-- routerlink actua como href en este caso redirige a login -->
            <!--Si no está logeado aparece el button ingresar-->
            <button mat-flat-button *ngIf="!isLoggedIn" routerLink="/login" id="btnIngresar">Ingresar</button>

            <!--Si está logeado aparece el button Mi Perfil-->
            <button mat-flat-button *ngIf="isLoggedIn" [matMenuTriggerFor]="menu" id="btnPerfil">Mi Perfil</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/perfil">Ir a perfil</button>
                <button mat-menu-item routerLink="/pedidos">Mis pedidos</button>
                <button mat-menu-item (click)="logout()">Cerrar sesión</button>
            </mat-menu>

        </div>

    </div>
</header>

<router-outlet></router-outlet>

<!-- <div>
        <button *ngIf="!isLoggedIn" routerLink="/login" mat-flat-button id="login">Ingresar</button>

        <button *ngIf="isLoggedIn" id="profile" mat-button [matMenuTriggerFor]="menu" >Mi Perfil</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/perfil">Ir a perfil</button>
            <button mat-menu-item routerLink="/pedidos">Mis pedidos</button>
            <button mat-menu-item (click)="logout()">Cerrar sesión</button>
        </mat-menu>
</div> -->