<div>
    <div class="titulo">
        <h2>Conoce nuestros puntos de donación</h2>
        <p>Gracias a nuestro colaborador tenemos los siguientes puntos asignados en Valparaíso y Viña del Mar donde
            puedes entregar tus libros.</p>
    </div>

    <div class="puntosDonacion">
        <div class="duocvalpo">
            <mat-card>
                <mat-card-content>
                    <h3>DuocUC Sede Valparaíso</h3>
                    <img src="../../../assets/bodyImg/duocvalpo.jpg" alt="sedevalpo">
                    <p>Av. Brasil 2021, esquina Rodríguez, Valparaíso</p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="mapaDuocvalpo">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d836.111693887923!2d-71.61567294427736!3d-33.0447026911635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689e0d76107fd55%3A0x77baf68d119f6eeb!2sDUOC%20UC%20Sede%20Valpara%C3%ADso!5e0!3m2!1ses-419!2scl!4v1715048222853!5m2!1ses-419!2scl"
                width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>


    </div>

    <div class="puntosDonacion">
        <div class="duocvinna">
            <mat-card>
                <mat-card-content>
                    <h3>DuocUC Sede Viña del Mar</h3>
                    <img src="../../../assets/bodyImg/duocvinna.jpg" alt="sedevinna">
                    <p>Álvarez 2366, Chorrillos, Viña del Mar.</p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="mapaDuocvinna">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1672.4310995547073!2d-71.53359688662123!3d-33.033760751884586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689de64d74fd4af%3A0x8004f381e9055a38!2sDuoc%20UC%3A%20Sede%20Vi%C3%B1a%20Del%20Mar!5e0!3m2!1ses-419!2scl!4v1715049737365!5m2!1ses-419!2scl"
                width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>
    
</div>