<div>
    <div class="titulo">
        <h2>Conoce nuestros puntos de donación</h2>
        <p>Gracias a nuestro colaborador tenemos los siguientes puntos asignados en Valparaíso y Viña del Mar donde puedes entregar tus libros.</p>
    </div>

    <div class="puntosDonacion">
        <div class="duocvinna">
            <mat-card>
                <mat-card-content>
                    <h3>DuocUC Sede Valparaíso</h3>
                    <img src="../../../assets/bodyImg/duocvalpo.jpg" alt="sedevalpo">
                    <p>Av. Brasil 2021, esquina Rodríguez, Valparaíso</p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="duocvalpo">
            <mat-card>
                <mat-card-content>
                    <h3>DuocUC Sede Viña del Mar</h3>
                    <img src="../../../assets/bodyImg/duocvinna.jpg" alt="sedevinna">
                    <p>Álvarez 2366, Chorrillos, Viña del Mar.</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
