<Div>
    <div>
        <h2>Conoce nuestros puntos de donación</h2>
        <p>Gracias a nuestro colaborador tenemos los siguientes puntos asignados en
            Valparaíso y Viña del Mar donde puedes entregar tus libros.</p>
    </div>

    <div class="puntosDonacion">
        <div class="duocvinna">
            <mat-card>
                <mat-card-content>
                    <h3>DuocUC Sede Valparaíso</h3>
                    <img src="../../../assets/bodyImg/duocvalpo.jpg" alt="sedevalpo">
                    <p>Av. Brasil 2021, esquina Rodríguez, Valparaíso</p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="duocvalpo">
            <mat-card>
                <mat-card-content>
                    <h3>DuocUC Sede Viña del Mar</h3>
                    <img src="../../../assets/bodyImg/duocvinna.jpg" alt="sedevinna">
                    <p>Álvarez 2366, Chorrillos, Viña del Mar.</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <!-- <div>
        <iframe
            src="https://www.google.com/maps/embed?pb=!4v1714534160306!6m8!1m7!1sE2gQ1JXd2d7QMWY2ARb_Dw!2m2!1d-33.03372958487498!2d-71.53272651658878!3f247.89110005632017!4f1.5141627126627242!5f0.7820865974627469"
            width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div> -->
</Div>