<div>
    <h2>Nosotros</h2>
<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>
      <h3>Misión</h3>
      <hr>
      <em>"En eloKoLector nos dedicamos apasionadamente a fomentar el amor por la lectura y el acceso equitativo a los libros. 
        Nuestra misión es recopilar y distribuir libros a instituciones educativas y de salud en las comunas de Valparaíso y Viña del Mar de la región de Valparaíso, 
        con un enfoque en aquellos en situación de vulnerabilidad, para enriquecer sus vidas a través del poder transformador de la lectura."</em>
    </mat-grid-tile>

    <mat-grid-tile>
        <h3>Propósito</h3>
        <em>"Impulsar el acceso a la lectura para beneficiar el desarrollo personal humano"</em>
    </mat-grid-tile>

    <mat-grid-tile>
      <h3>Visión</h3>
      <em>"Nos imaginamos un futuro donde cada persona, sin importar su origen socioeconómico, tenga acceso a una amplia variedad de libros que enriquezcan su conocimiento, 
        expandan su imaginación y les permitan desarrollarse plenamente. 
        Queremos ser un referente en la promoción de la lectura y la democratización del acceso a la educación a través de nuestras acciones en la región de Valparaíso."</em>
    </mat-grid-tile>
</mat-grid-list>
</div>
