<app-header></app-header>
<div class="nosotrosPage">

  <div class="contenedorInicial">
  <h2>Nosotros</h2>
  <div>En eloKoLector nos dedicamos apasionadamente a fomentar el amor por la lectura junto con facilitar el acceso a la
    educación de jóvenes y adultos. </div>
  </div>

  <div class="contenedorCentral">
    
      
        <div class="mision">
          <h3>Misión</h3>
          <hr>
          <p>
            Nuestra misión es recopilar y distribuir libros a instituciones tales como colegios, hospitales, hogares de
            niños y ancianos en las comunas de Valparaíso y Viña del Mar,
            con un enfoque especial en aquellos en situación de vulnerabilidad para enriquecer sus vidas a través del
            poder transformador de la lectura.</p>
        </div>
      
    

    <div class="proposito">
      
          <h3>Propósito</h3>
          <hr>
          <p>"Impulsar el acceso a la lectura para beneficiar el desarrollo personal humano"</p>
        
    </div>

    <div class="vision">
      
          <h3>Visión</h3>
          <hr>
          <p>"Nos imaginamos un futuro donde cada persona, sin importar su origen socioeconómico, tenga acceso a una
            amplia variedad de libros que enriquezcan su conocimiento,
            expandan su imaginación y les permitan desarrollarse plenamente.
            Queremos ser un referente en la promoción de la lectura y la democratización del acceso a la educación a
            través de nuestras acciones en la región de Valparaíso."</p>
        </div>
    
    </div>
</div>
<app-footer></app-footer>