.nosotrosPage {
    background-image: url('../../../assets/nosotros_img/nosotros.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 20vh;
    color: #000;
    padding: 50px 20px; /* Ajustar según sea necesario */
    
}

.contenedorInicial, .contenedorCentral {
    max-width: 800px; /* Ajustar según sea necesario */
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente para mejorar la legibilidad */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contenedorInicial h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.8em;
   
}

.contenedorCentral > div {
    margin-bottom: 40px;
}

.contenedorCentral h3 {
    margin-top: 0;
    text-align: center;
}

.contenedorCentral p {
    margin: 10px 0 0 0;
}


hr {
    border: 0;
    height: 1px;
    background: #36C8F6;
    margin: 10px 0;
}

@media only screen and (max-width: 768px) {
    .contenedorInicial, .contenedorCentral {
        padding: 10px;
    }
}
