<div id="DuocColaborador">
    <h3>Conoce a nuestro colaborador</h3>
    <div>
        <h4>Duoc UC</h4>
        <p>Reconocido por su prestigio y con 20 sedes a nivel del país, Duoc UC es un instituto de educación superior que 
            forma a personas en el ámbito técnico y profesional con una sólida base ética inspirada en los valores cristianos,
            capaces de aportar de forma significativa al mundo laboral y comprometidas con el desarrollo de la sociedad.
        </p>
    </div>
    <div>
        <p>La colaboración entre eloKoLector y DuocUC nace gracias a la visión ética de ambas entidades, 
            donde la atención se centra en instituciones de bajos recursos o que necesiten de servicio de donación de libros.
        </p>
    </div>
</div>
